<h1>Teams</h1>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>alle Teams</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <mat-list-item *ngFor="let team of teams">
          <a matLine routerLink="/teams/{{ team.id }}"
            >{{ team.firstname1 }} {{ team.lastname1 }} &amp;
            {{ team.firstname2 }} {{ team.lastname2 }} ({{ team.address }})</a
          >
          <button
            mat-icon-button
            matTooltip="lösche Team"
            (click)="delete(team)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Team hinzufügen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form">
        <mat-card>
          <mat-card-title>Organisatorisches</mat-card-title>

          An welchem Dinner möchtet ihr teilnehmen? (Sorry, dass das momentan
          noch angegeben werden muss... technische Gründe...)
          <mat-form-field class="full-width">
            <mat-label>Dinner</mat-label>
            <mat-select #teamDinner>
              <mat-option *ngFor="let dinner of dinners" [value]="dinner.id">
                {{ dinner.name }} ({{
                  dinner.begin | date: "yyyy-MM-dd HH:mm"
                }})
              </mat-option>
            </mat-select>
          </mat-form-field>

          In welcher Stadt ist eure Koch-Location? (Schon klar, dass in der
          Stadt des Dinners ist - muss aus technischen Gründen leider momentan
          noch angegeben werden.)
          <mat-form-field class="full-width">
            <input matInput placeholder="Stadt" #teamCity />
          </mat-form-field>

          An welcher Adresse (z.B. "Markusplatz 3") ist eure Koch-Location?
          <mat-form-field class="full-width">
            <input matInput placeholder="Adresse" #teamAddress />
          </mat-form-field>

          <p>
            Notiert hier bitte alle Besonderheiten - beispielsweise
            Unverträglichkeiten oder organisatorische Hinweise.
          </p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Notizen" #teamNotes></textarea>
          </mat-form-field>
        </mat-card>

        <mat-card>
          <mat-card-title>Koch 1</mat-card-title>
          Bitte tragt hier den Koch ein, bei dem das zuhause stattfindet.
          <mat-form-field class="full-width">
            <input matInput placeholder="Vorname" #teamFirstname1 />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nachname" #teamLastname1 />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Mail-Adresse" #teamMail1 />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Telefonnummer" #teamPhone1 />
          </mat-form-field>
        </mat-card>

        <mat-card>
          <mat-card-title>Koch 2</mat-card-title>
          <mat-form-field class="full-width">
            <input matInput placeholder="Vorname" #teamFirstname2 />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nachname" #teamLastname2 />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Mail-Adresse" #teamMail2 />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Telefonnummer" #teamPhone2 />
          </mat-form-field>
        </mat-card>

        <!-- <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Diet (Vegan|Vegetarian|Omnivore)"
            #teamDiet
          />
        </mat-form-field> -->

        <mat-card>
          <mat-card-title>Ernährung und Kochkünste</mat-card-title>

          <mat-form-field class="full-width">
            <mat-label>Die Ernährungsform eures Teams...</mat-label>
            <mat-select #teamDiet>
              <mat-option value="Vegan">Wir essen vegan</mat-option>
              <mat-option value="Vegetarian">Wir essen vegetarisch</mat-option>
              <mat-option value="Pescetarian"
                >Wir essen pescetarisch (d.h. auch Fisch)</mat-option
              >
              <mat-option value="Omnivore"
                >Wir essen omnivor (d.h. auch Fleisch)</mat-option
              >
            </mat-select>
          </mat-form-field>

          <p>
            Wählt bitte <em>alle</em> Varianten aus, die ihr zubereiten könntet.
          </p>
          <ul>
            <li>
              <mat-checkbox #teamVeganAppetizer>veganer Appetizer</mat-checkbox>
            </li>
            <li>
              <mat-checkbox #teamVegetarianAppetizer
                >vegetarischer Appetizer</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox #teamPescetarianAppetizer
                >pescetarischer Appetizer</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox #teamOmnivoreAppetizer
                >omnivorer Appetizer</mat-checkbox
              >
            </li>
          </ul>
          <ul>
            <li>
              <mat-checkbox #teamVeganMaindish>vegane Hauptspeise</mat-checkbox>
            </li>
            <li>
              <mat-checkbox #teamVegetarianMaindish
                >vegetarische Hauptspeise</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox #teamPescetarianMaindish
                >pescetarische Hauptspeise</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox #teamOmnivoreMaindish
                >omnivore Hauptspeise</mat-checkbox
              >
            </li>
          </ul>
          <ul>
            <li>
              <mat-checkbox #teamVeganDessert>veganes Dessert</mat-checkbox>
            </li>
            <li>
              <mat-checkbox #teamVegetarianDessert
                >vegetarisches Dessert</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox #teamPescetarianDessert
                >pescetarisches Dessert</mat-checkbox
              >
            </li>
            <li>
              <mat-checkbox #teamOmnivoreDessert
                >omnivores Dessert</mat-checkbox
              >
            </li>
          </ul>
        </mat-card>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- (click) passes input value to add() and then clears the input -->
      <button
        mat-stroked-button
        (click)="
          add(
            teamAddress.value,
            teamFirstname1.value,
            teamFirstname2.value,
            teamLastname1.value,
            teamLastname2.value,
            teamMail1.value,
            teamMail2.value,
            teamPhone1.value,
            teamPhone2.value,
            teamCity.value,
            teamNotes.value,
            teamVeganAppetizer.checked,
            teamVeganMaindish.checked,
            teamVeganDessert.checked,
            teamVegetarianAppetizer.checked,
            teamVegetarianMaindish.checked,
            teamVegetarianDessert.checked,
            teamPescetarianAppetizer.checked,
            teamPescetarianMaindish.checked,
            teamPescetarianDessert.checked,
            teamOmnivoreAppetizer.checked,
            teamOmnivoreMaindish.checked,
            teamOmnivoreDessert.checked,
            teamDiet.value,
            teamDinner.value
          );
          teamAddress.value = ''
        "
      >
        HINZUFÜGEN
      </button>
    </mat-card-actions>
  </mat-card>
</div>
