<h1>Plan-Berechnungen</h1>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>alle Plan-Berechnungen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <mat-list-item *ngFor="let calculation of calculations">
          <a matLine routerLink="/calculations/{{ calculation.id }}"
            >{{ calculation.id }} ({{ calculation.finished }},
            {{ calculation.begin | date: "yyyy-MM-dd HH:mm" }}&ndash;{{
              calculation.end | date: "HH:mm"
            }})</a
          >
          <button
            mat-icon-button
            matTooltip="lösche Berechnung"
            (click)="delete(calculation)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Plan-Berechnung hinzufügen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form">
        <!-- for production, these values might be useful: 
          populationsSize: 200
          fitnessThreshold: 0.001
          steadyFitness: 100 -->
        <mat-form-field class="full-width">
          <input
            matInput
            type="number"
            min="0"
            placeholder="Populationsgröße"
            #populationsSize
            value="200"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            type="number"
            min="0"
            max="1"
            placeholder="Fitness-Schwelle"
            #fitnessThreshold
            value="0.1"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            type="number"
            min="0"
            placeholder="Anzahl Generationen mit gleich bleibender Fitness"
            #steadyFitness
            value="10"
          />
        </mat-form-field>

        <!-- <mat-form-field class="full-width"> -->
        <button mat-stroked-button (click)="inputFile.click()">
          Umfrage-Datei auswählen
        </button>
        <input
          #inputFile
          type="file"
          [style.display]="'none'"
          (change)="handleFileInput($event)"
        />
        <!-- </mat-form-field> -->
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        (click)="
          addSurveyfile(
            populationsSize.value,
            fitnessThreshold.value,
            steadyFitness.value
          )
        "
      >
        PER UMFRAGEDATEI HINZUFÜGEN
      </button>
    </mat-card-actions>
  </mat-card>
</div>
